tmp/
*.tmp
*.log
*.sw?
.pre-commit-config.yaml
cardano-node/
cardano-db-sync/
cardano-wallet/
plutus-apps/
marlowe-cardano/
daedalus/
node.db/
wallet.db/
chain-index.db/
marlowe-pab.db
build-*
utxo1/
*.mantra
